<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/community.css">
    <script>const apitoken = "{{ api_token }}"</script>
    <script src="/static/community.js"></script>
    <title>Community</title>
</head>
<body>
    <header>
        <h1>Chitorium <img src="/static/chitorium.png" alt="logo" id="logo"></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/community">Community</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <div class="post-container">
        <div class="user-post">
            <img src="user-image.jpg" alt="User Image">
            <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et justo vitae odio luctus tincidunt.</p>
        </div>
    </div>
</body>
</html>